<!-- -->
<launch>
	
	<arg name="IMU" default="false"/>
	<arg name="port" default="/dev/ttyS1"/>
	<!-- Start the novatel node -->
	<node pkg="novatel" type="novatel_node" name="novatel_node" output="screen">
		<param name="port" value="$(arg port)" />
		<param name="baudrate" value="115200" />
		
		<param name="nav_sat_fix_topic" value="/gps_fix" />
		<param name="bestutm_topic" value="/best_utm" />
		<param name="inspvax_topic" value = "/gps"/>
		
		<param name="ll2utm_topic" value="/gps_odom"/>
		

		<!--inspvaxb ontime 0.05  组合导航数据  -->
		<!--bestgnssposb ontime 1 纯位导信息，用于获取参与解算的卫星数量 -->
		<!-- -->
		
        <param name="log_commands" value="inspvaxb ontime 0.05; bestgnssposb ontime 1" />
		
		<!-- <param name="configure_port" value="COM2,9600,RTCM,NONE" /> -->
		<!-- <param name="log_commands" value="BESTUTMB ONTIME 1.0; BESTVELB ONTIME 1.0" /> -->
		
		<param name="location_original_x" value="-0.909"/>
		<param name="location_original_y" value="-0.005"/>
		<param name="location_expected_x" value="0.0"/>
		<param name="location_expected_y" value="0.0"/>
		
	</node>
	
	<group if="$(arg IMU)">
		<node pkg="novatel" type="novatel_node" name="imu_node" output="screen">
			<param name="port" value="/dev/ttyS2" />
			<param name="baudrate" value="115200" />
		
			<param name="log_commands" value="corrimudatasb ontime 0.05" />
		
		</node>
	</group>
	
	
	
</launch>

